.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #0a0f1f;
}

.logo {
  color: #00c6ff;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00c6ff;
  transform: scale(1.1);
}

.dark-btn {
  background: #00c6ff;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}
