.services {
  padding: 60px 20px;
  text-align: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.service-card {
  background: #111827;
  color: #fff;
  padding: 30px;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.service-card svg {
  font-size: 40px;
  color: #00c6ff;
}

.service-card:hover {
  transform: translateY(-10px) scale(1.05);
  background: #0a0f1f;
}
