.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  font-size: 30px;
  padding: 15px;
  border-radius: 50%;
  z-index: 9999;
  text-decoration: none;
  transition: 0.3s;
}

.whatsapp:hover {
  transform: scale(1.15);
}
